<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>

<style>
    .navbar {
  overflow: hidden;
  background-color: #f1f1f1;
}

.navbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 1px 1px;
  text-decoration: none;
  font-size: 17px;
  border-bottom: 3px solid transparent;
}

.navbar a:hover {
  border-bottom: 3px solid DarkBlue;
}

.navbar a.active {
  border-bottom: 3px solid DarkBlue;
}
</style>

<body>
    <div class="navbar navbar-fixed-top" style="background-color:#ffffff">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="https://centricconsulting.com/">
                    <img src="https://ww1.prweb.com/prfiles/2019/04/30/16275299/centric_logo_color.jpg" alt="Centric Logo" style="height:50px;">
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Employee", "Index", "profiles")</li>
                    <li>@Html.ActionLink("Recognitions", "create", "recognitions")</li>
                </ul>
                <a href="https://www.linkedin.com/company/centric-consulting/">
                    <img src="https://i0.wp.com/nativeadvertisinginstitute.com/wp-content/uploads/2015/03/LinkedIn.png?fit=1024%2C768&ssl=1" alt="LinkedIn" style="height:50px" width="69">
                </a>
                <a href="https://twitter.com/centric">
                    <img src="https://pbs.twimg.com/profile_images/1111729635610382336/_65QFl7B.png" alt="Twitter" style="height:50px" width="52">
                </a>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Centric Consulting | Ohio University 2019</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
