
@model MIS4200Team1.Models.Profile

@{
    ViewBag.Title = "My Profile";
}

<h2>My Profile</h2>

<style>
    body {
        background-color: #e6e6e6;
    }

    .About {
        background-color: #2A1E5E;
        color: white;
        margin: 20px;
        padding: 20px;
    }

    h2 {
        color: #F0B734;
    }

    p {
        font-size: 16px;
    }
</style>

<div>
    <h4>Profile Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.firstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.businessUnit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.businessUnit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hireDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hireDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

    </dl>
    @{
        var total = ViewBag.total;
        var excellence = ViewBag.Excellence;
        var culture = ViewBag.Culture;
        var integrity = ViewBag.Integrity;
        var stewardship = ViewBag.Stewardship;
        var innovation = ViewBag.Innovation;
        var greaterGood = ViewBag.GreaterGood;
        var balance = ViewBag.Balance;
        <h5><strong>Total recognitions received</strong> = @total</h5>
        <h5>Excellence awards = @excellence</h5>
        <h5>Culture awards = @culture</h5>
        <h5>Integrity awards = @integrity</h5>
        <h5>Stewardship awards = @stewardship</h5>
        <h5>Innovation awards = @innovation</h5>
        <h5>GreaterGood awards = @greaterGood</h5>
        <h5>Balance awards = @balance</h5>
    }
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
