@model MIS4200Team1.Models.recognition

@{
    ViewBag.Title = "Delete";
}

    <style>
        body {
            background-color: #e6e6e6;
        }

        .About {
            background-color: #2A1E5E;
            color: white;
            margin: 20px;
            padding: 20px;
        }

        h2 {
            color: #F0B734;
        }

        p {
            font-size: 16px;
        }
    </style>

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>recognition</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Profile.firstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Profile.firstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.values)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.values)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
