@model IEnumerable<MIS4200Team1.Models.recognition>

@{
    ViewBag.Title = "Index";
}

<h2>Employee Recognitions</h2>
<h4>Congrats to the following employees for upholding the core values of Centric!</h4>

<style>
    body {
        background-color: #e6e6e6;
    }

    .About {
        background-color: #2A1E5E;
        color: white;
        margin: 20px;
        padding: 20px;
    }

    h2 {
        color: #F0B734;
    }

    p {
        font-size: 16px;
    }
    table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2}
</style>



<p>
    <a class="btn btn-default" style="background-color:#F0B734" @Html.ActionLink("Create New", "Create")</a>
</p>


<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Profile.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Profile.lastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.values)
        </th>
    </tr>


@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Profile.firstName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Profile.lastName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.description)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.values)
    </td>
    <td>
        @*@Html.ActionLink("Edit", "Edit", new { id=item.recognitionID }) |*@
        @Html.ActionLink("Details", "Details", new { id = item.recognitionID })
        @*@Html.ActionLink("Delete", "Delete", new { id=item.recognitionID })*@
    </td>
</tr>
}

    @*@foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Profile.firstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.values)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.recognitionID }) |
                @Html.ActionLink("Details", "Details", new { id = item.recognitionID })
                @Html.ActionLink("Delete", "Delete", new { id=item.recognitionID })
            </td>
        </tr>
    }*@


</table>
