@model IEnumerable<MIS4200Team1.Models.recognition>

@{
    ViewBag.Title = "Index";
}

<style>
    body {
        background-color: #e6e6e6;
    }
</style>

<h2>Index</h2>

@{
    var total = ViewBag.total;
    var excellence = ViewBag.Excellence;
    var culture = ViewBag.Culture;
    var integrity = ViewBag.Integrity;
    <h2>Total recognitions received = @total</h2>
    <h3>Excellence awards = @excellence</h3>
    <h3>Culture awards = @culture</h3>
    <h3>Integrity awards = @integrity</h3>
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.award)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.recognizer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.recognized)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.recognitionDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.comments)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.userId)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.award)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.recognizer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.recognized)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.recognitionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.comments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.userId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.recognitionId }) |
                @Html.ActionLink("Details", "Details", new { id = item.recognitionId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.recognitionId })
            </td>
        </tr>
    }

</table>
